# Thumb DB Files

*.db
.DS_Store
.env
logs/nginx/

# PHP Storm Project

.idea/

*config.php
modules/DBAuth/

# Local Assets
modules/peqphpeditor/spells_us.txt

l/dbstr_us/
/includes/config.php
modules/commander/js/eqmap_ws_core_config.js
